<div class="product-card-main">
  <div
    class="product-card-div-img"
    [routerLink]="['/products/id/', product.id]"
  >
    <img
      class="product-card-div-img-img"
      [src]="product | customImage"
      [alt]="product.alt_img || product.title"
    />
  </div>
  <div class="product-card-button">
    <button
      mat-button
      mat-raised
      color="primary"
      [routerLink]="['/products/id/', product.id]"
    >
      <!-- <mat-icon>local_mall</mat-icon> -->
      Add to cart
    </button>
  </div>
  <div class="product-card-details">
    <div class="product-card-title">
      <h3>
        {{ product | productTitle : 30 | uppercase }}
      </h3>
    </div>

    <div class="product-card-subtitle">
      <p class="product-card-subtitle-category">
        {{ product.category | titlecase }}
      </p>
      <p class="product-card-subtitle-price">{{ product.price }} €</p>
    </div>
    <!-- <div class="product-card-score">
      <p>
        <strong>Rating: </strong> {{ product.rating.rate }}
        <mat-icon>star</mat-icon>
        <span>({{ product.rating.count }} opinions)</span>
        <br />
      </p>
    </div> -->
  </div>
</div>
