.product-card-main {
  margin-bottom: 60px !important;
}

.product-card-main {
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0px;
}

.product-card-div-img {
  width: 100%;
  height: 100%;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
}

.product-card-div-img-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.product-card-div-img:hover .product-card-div-img-img {
  transform: scale(1.1);
}

.product-card-title {
  margin: 0 0 10px 0;
}

.product-card-title h3 {
  margin: 5px 0px;
  font-size: 14pt;
}
/* .product-card-title span {
  margin-bottom: 5px;
  font-size: 12pt;
} */

/* .product-card-subtitle {

} */

.product-card-button {
  margin: 10px 0px;
  width: 100%;
}

.product-card-button button {
  width: 100%;
  height: 3em;
  border-radius: 0px;
  background-color: var(--color-secondary);
  font-family: "Josefin Sans", serif;
  color: var(--color-text-dark);
  font-weight: 350;
  font-size: larger;
}

.product-card-subtitle-category {
  margin-bottom: 5px !important;
}

.product-card-subtitle-price {
  margin-top: 0px !important;
}
