<div>
  <!-- <h1>PRODUCTS</h1> -->
  <div class="breadcrumbs">
    <span class="breadcrumbs-link" routerLink="/products">All Products</span>
    <span *ngIf="this.category"> / </span>
    <span class="breadcrumbs-link" routerLink="/products/{{ this.category }}">
      {{ this.category | titlecase }}
    </span>
  </div>
</div>

<ng-template #divLoading>
  <app-loading-spinner></app-loading-spinner>
</ng-template>

<div *ngIf="products; else divLoading">
  <div class="grid bm-8 pt-2">
    <div
      *ngFor="let product of products"
      class="col-12 sm:col-4 md:col-3 xl:col-3"
    >
      <products-product-card [product]="product"></products-product-card>
    </div>
  </div>
</div>
