<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav mode="push" [ngStyle]="{ width: '250px' }">
    <mat-toolbar>
      <span class="spacer"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <h3 class="menu-shop-name">MICROSHOP</h3>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let item of menuItemsLeft"
        [routerLink]="item.url"
        (click)="sidenav.toggle()"
      >
        <!-- <mat-icon matListItemIcon>{{ item.icon }}</mat-icon> -->
        <h5 class="menu-shop-item">{{ item.label | uppercase }}</h5>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-toolbar color="primary">
    <div class="mainmenu-component-div">
      <div class="mainmenu-left">
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h3 class="menu-shop-name">MICROSHOP</h3>
      </div>
      <div class="mainmenu-right">
        <div>
          <app-search-bar></app-search-bar>
          <div>
            <button
              *ngFor="let item of menuItemsRight"
              mat-button
              [routerLink]="item.url"
            >
              {{ item.label | titlecase }}
              <mat-icon *ngIf="item.icon">{{ item.icon }}</mat-icon>
            </button>
          </div>
        </div>
      </div>
    </div>

    <span class="spacer"></span>

    <!-- <button mat-button>Logout</button> -->
  </mat-toolbar>

  <div class="container p-2">
    <!-- <router-outlet></router-outlet> -->
    <ng-container *ngIf="showMainHtml; else routerContent"> </ng-container>

    <ng-template #routerContent>
      <div class="router-outlet-div">
        <router-outlet></router-outlet>
      </div>
    </ng-template>
  </div>
</mat-sidenav-container>
