/* Contenedor principal que usa Flexbox */
.layout-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.sidebar {
  width: 160px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  padding: 0px;
  overflow-y: auto;
}

/* Contenido del router-outlet */
.content {
  margin-top: 40px;
  margin-left: 160px;
  height: 100vh;
  width: 100%;
  overflow-y: auto;
  padding: 25px;
  background: #fff;
}
